<section class="home">
    <div class="container text-center">
        <h1>Welcome to the car dealership</h1>
        <div id="home-options" class="row justify-content-md-center">
            <div class="col-sm-2">
                <div class="card border-danger mb-3">
                    <div class="card-body text-danger">
                        <a [routerLink]="['/cars']"><h5 class="card-title">Cars</h5></a>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-danger mb-3">
                    <div class="card-body text-danger">
                        <a [routerLink]="['/employees']"><h5 class="card-title">Employees</h5></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-danger mb-3">
                    <div class="card-body text-danger">
                        <a [routerLink]="['/customers']"><h5 class="card-title">Customers</h5></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-danger mb-3">
                    <div class="card-body text-danger">
                        <a href="#" class="card-link"><h5 class="card-title">Sells</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>