<section class="home">
    <div class="container text-center">
        <h1 class="h4 pb-2 mb-4 text-danger border-bottom border-danger" id="home-title">Welcome to the car dealership</h1>
        <div id="home-options" class="row justify-content-md-center">
            <div class="col-sm-2">
                <div class="card border-danger mb-3">
                    <div class="card-body text-danger">
                        <img src="../assets/car-side-solid.svg" alt="Cars" class="card-title">
                        <a [routerLink]="['/cars']"><h5 class="card-title">Cars</h5></a>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-danger mb-3">
                    <div class="card-body text-danger">
                        <img src="../assets/id-card-solid.svg" alt="Employees" class="card-title">
                        <a [routerLink]="['/employees']"><h5 class="card-title">Employees</h5></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-danger mb-3">
                    <div class="card-body text-danger">
                        <img src="../assets/users-solid.svg" alt="Customers" class="card-title">
                        <a [routerLink]="['/customers']"><h5 class="card-title">Customers</h5></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-danger mb-3">
                    <div class="card-body text-danger">
                        <img src="../assets/chart-column-solid.svg" alt="Sales" class="card-title">
                        <a [routerLink]="['/sales']"><h5 class="card-title">Sales</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>