<div id="filter" class="h4 pb-2 mb-4 text-danger border-bottom border-danger"> <!-- class="border border-secondary rounded" -->
    <div class="container text-center">
        <div class="row justify-content-start">
            <div class="col">
                Filter by
            </div>
            <div class="col">
                <p>Manufacturer</p>
                <select class="form-select" [(ngModel)]="selectedManu">
                    <option value="">Any</option>
                    <option *ngFor="let manu of manuList" [ngValue]="manu.man_name">{{manu.man_name}}</option>
                </select>
            </div>
            <div class="col">
                <p>Color</p>
                <select class="form-select" [(ngModel)]="selectedColor">
                    <option value="">Any</option>
                    <option *ngFor="let color of colorList" [ngValue]="color.name">{{color.name}}</option>
                </select>
            </div>
            <div class="col">
                <p>Model</p>
                <select class="form-select" [(ngModel)]="selectedModel">
                    <option value="">Any</option>
                    <option value="Hatch">Hatch</option>
                    <option value="Sedan">Sedan</option>
                    <option value="SUV">SUV</option>
                </select>
            </div>

            <div class="col">
                <p>Min price:</p>
                <input [(ngModel)]="minPrice" type="number" id="min-price" class="form-control" placeholder="0">
            </div>

            <div class="col">
                <p>Max price:</p>
                <input [(ngModel)]="maxPrice" type="number" id="max-price" class="form-control" placeholder="100000">
            </div>
            <div class="col">
                <p>Name:</p>
                <input [(ngModel)]="carName" type="text" id="car-name" class="form-control" placeholder="Name">
            </div>

            <div class="col">
                <button type="button" id="apply-filter" class="btn btn-danger" (click)="applyFilter()">Apply</button>
            </div>
        </div>
    </div>
</div>

<section class="car-list">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="main-tittle">Cars available:</h1>
                <div class="list-group">
                    <app-car-details *ngFor="let car of carsList"
                        [car]="car">
                    </app-car-details>
                </div>
            </div>
        </div>

        <app-pagination
            [currentPage]="currentPage"
            [sizeOfPage]="sizeOfPage"
            [totalItems]="totalItems"
            (pageChanged)="onPageChange($event)"
        >
        </app-pagination>

        <!-- <div class="pagination-controls">
            <button (click)="goToPreviousPage()" [disabled]="currentPage === 0">Previous</button>
            <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
            <select (change)="goToPage($event)">
                <option *ngFor="let page of pageNumbers" [value]="page">{{ page }}</option>
            </select>
        </div> -->
    </div>
</section>